<div class="example-button-row">
    <button mat-stroked-button color="primary" class="float-end p-1" (click)="openDialog()">+ Add Product</button>
</div>
<div class="mat-elevation-z8">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search ..." #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort 
        class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        No.
        </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
        Price
        </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- productColor Column -->
    <ng-container matColumnDef="productColor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by productColor">
        Product Color
        </th>
        <td mat-cell *matCellDef="let element"> {{element.productColor}} </td>
    </ng-container>

    <!-- count Column -->
    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by count">
        Count
        </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>

     <!-- productCategoryId Column -->
     <ng-container matColumnDef="productCategoryId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by productCategoryId">
        Product Category
        </th>
        <td mat-cell *matCellDef="let element"> {{element.productCategoryId}} </td>
    </ng-container>

     <!-- productTypeId Column -->
     <ng-container matColumnDef="productTypeId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by productTypeId">
        Product Type
        </th>
        <td mat-cell *matCellDef="let element"> {{element.productTypeId}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>
        Actions
        </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <i class="bi bi-pencil-square"></i>
            </button>    
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <i class="bi bi-trash"></i>
            </button>  
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>