.register-form {
    max-width: 350px;
    margin: auto;
  }
  .example-button-row {
    display: table-cell;
    max-width: 100%;
    float: right;
    padding: 2%;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }